<article id="artist">
	<% @artists.each do |artist| %>
		<h1><%= artist.name %></h1>
		<h4><%= artist.instrument %></h4>
		<% if !artist.picture.empty? %>
			<a href="#" class="image image-full"><img src="<%= artist.picture %>" alt="" /></a>
		<% end %>
		<section class="text">
			<p>
				<%= h(artist.bio).gsub(/\n/, '<p>').html_safe %>
			</p>
		</section>
	<% end %>
</article>


