<div class="title">
	<h2>Elaine Thornburgh</h2>
</div>

<a href="#" class="image image-full"><img src="thornburgh.jpg" alt="" /></a>
<p>
	Elaine Thornburgh performs on harpsichord throughout the United States as both soloist and in chamber ensemble.  A native of Key West, Florida, she was raised in San Francisco and began her study of the harpsichord with Alan Curtis while a student at the University of California at Berkeley.  She has studied harpsichord with Gustav Leonhardt and fortepiano with Malcolm Bilson and Laurette Goldberg.  A graduate of the San Francisco Conservatory of Music, she was a cash-prize winner at the Sixth Bruges International Harpsichord Competition. In 1984 she received the National Endowment for the Arts Solo Recitalist Award and toured California for many years as an Arts Council Touring Artist.
</p>

<p>
	Elaine Thornburgh teaches harpsichord at Stanford University and privately in the San Francisco Bay area. For many years she has taught for the Stanford Continuing Studies department. In April 2000, as the first American harpsichordist to tour several cities in Poland, she performed seven recitals and five master classes, primarily focused around the music of J.S. Bach. During subsequent seasons she has had a week-long residency at the University of Virginia, and toured throughout the state of California, including performances at CSU Northridge, Fresno County Free Library, Sonora Bach Festival, the California Academy of Sciences, Stanford University, and for various arts councils. She was invited to give a lecture/recital entitled, “Behind the Notes: Unlocking the Musical Gestures for Harpsichord” and perform the music of William Byrd at the first national early keyboard conference hosted by the National Music Museum in Vermillion, South Dakota. She has been honored to give recitals and present lecture/recitals on historic keyboard instruments from the nation’s most prestigious collections, including instruments at the Smithsonian Institution, Colonial Williamsburg, the Huntington Museum and the Metropolitan Museum of Art in New York.
</p>

<p>
	Her fourth CD, a two-CD Scarlatti set, was released October 2000 on Lyrichord’s Early Music Series. Elaine Thornburgh has recorded for Koch International Classics harpsichord performances of Sonatas by Domenico Scarlatti and of Grounds and Variations by William Byrd and, accompanying soprano Judith Nelson on the fortepiano, Haydn’s English Love Songs.  Her Scarlatti CD was voted Critic’s Choice in 1991 by Gramophone.  As founding Chair of the Western Early Keyboard Association (WEKA), Ms. Thornburgh encourages an active keyboard community since 1997 through newsletters, regional gatherings and an annual conference. She enjoys Navajo weaving in her spare time.
</p>
