<h1>Concerts</h1>

<section class="list">
	<article id="concert">
		<h2>Brandenburg 5</h2>
		<h5>Date: May 4, 2014 at 2pm</h5>
		<h5>Location: Lafayette Library Community Hall, CA</h5>
		<section class="text">
			<p>
				See Elaine Thornburgh play Bach's Brandenburg 5 with the Gold Coast Chamber Players.
			</p>
		</section>
		<a href="http://www.gcplayers.org/" class="button">See More</a> </div>
	</article>
</section>