<h1>Brandenburg 5</h1>
<p>
	See Elaine Thornburgh play Bach's Brandenburg 5 with the Gold Coast Chamber Players.
	<br>
	Date: May 4, 2014 at 2pm
	<br>
	Location: Lafayette Library Community Hall, CA
</p>

<a href="http://www.gcplayers.org/" class="button">Read More</a> </div>