<h1>Music</h1>
<section class="text">
<p>A selection of Elaine Thornburgh's Youtube videos are below and if you are interested in purchasing CDs, you can buy them from the artist at the concerts.</p>
</section>


<h4>J.S. Bach's Goldberg Variations: Aria</h4>
<p>
<iframe width="560" height="315" src="//www.youtube.com/embed/JO3cV1Uw-_o?rel=0" frameborder="0" allowfullscreen></iframe>
</p>

<h4>François Couperin's Les Silvains</h4>
<p>
<iframe width="560" height="315" src="//www.youtube.com/embed/vK5dyNR5A9Y?rel=0" frameborder="0" allowfullscreen></iframe>
</p>

<h4>François Couperin's 4th Prelude</h4>
<p>
<iframe width="560" height="315" src="//www.youtube.com/embed/mPQMOw2OI-A?rel=0" frameborder="0" allowfullscreen></iframe>
</p>
