
/* 
*
* Basic styling for normal tablets
*
*/

/*
* Body
*/

#container {
margin: 15px;
}

/*
* Header
*/


header {
	padding: 5px;
	padding-top: 0px;
	height: 380px;
	background: url('waves-M.jpg') no-repeat top center;
	background-size: 100%;
	overflow: hidden;
	border-radius: 10px;
	margin: 15px;
}

header:before {
	content: '';
	top: 0;
	left: 0;
	width: 90%;
	height: 100%;
	background-image: url('waves-M.jpg') no-repeat top center;
	opacity: .1;
	border-radius: 10px;
}


#header_bar {
	position: relative;
	height: 100%;
}


#logo {
	position: relative;
	top: .5em;
	right: 0;
	left: auto;
	width: 100%;
	margin: 1em;
	h1 {
		display: inline-block;
		font-family: $logo-font;
		font-size: 2.5em;
		text-transform: uppercase;
		font-weight: 850;
		text-decoration: none;
	}
	a {
		text-decoration: none;
		color: $white;
		text-shadow:
   			-2px -2px 0 $secondary,
   			2px -2px 0 $secondary,
    		-2px 2px 0 $secondary,
   			2px 2px 0 $secondary; 
   		&:hover a {
			opacity: 0.5;
		}
	}

}

#menu {
	position: absolute;
	right: 0;
	top: 17em;
	ul {
		display: inline-block;
	}
	li {
		display: block;
		float: left;
		text-align: center;
	}
	li a {
		display: block;
		padding: 0em 0.7em;
		height: none;
		letter-spacing: 0.20em;
		line-height: none;
		text-decoration: none;
		font-size: 1.32em;
		font-weight: 650;
		text-transform: uppercase;
		outline: 0;
		color: $primary;
		text-shadow:
   			-1px -1px 0 $white,
   			1px -1px 0 $white,
    		-1px 1px 0 $white,
   			1px 1px 0 $white; 
	}
}
	
#menu li:hover a {
	color: $primary;
	text-decoration: underline;
}
	
#menu .current_page_item  {
	a {
	text-shadow:
   			-1px -1px 0 $white,
   			1px -1px 0 $white,
    		-1px 1px 0 $white,
   			1px 1px 0 $white; 
	color: $secondary;
	background: none;
	font-size: 1.5em;
	font-weight: 750;
	background: none;
	}
}

#menu .current_page_item a {
	background: none;
}

.concert-box {
	div {
		margin: .6em;
		margin-right: 5em;
		margin-left: 5em;
		width: 67%;
	}
}

p {
	padding: .4em;
	font-family: $primary-font;
	font-size: 1.2em;
	line-height: 150%;
	text-indent: none;
}

.text {
	text-indent: none;
}

section {
	overflow: hidden;

	.content {
		width: 72%;
		float: left;
		position: relative;
		padding: 3px;
	}

}

.list {
	margin: .3em;
	padding: .3em;
	h2 {
		font-size: 2.5em
	}
	h3 {
		font-size: 2.2em;
	}
	h4 {
		font-size: 1.7em;
	}
	h5 {
		font-size: 1.6em;
	}
}

