/*
* Partial: site-branding.scss
*/

/*
* Color Schemes
*/
$white: #FFFFFF;
$primary: #514766;
$secondary: #BA6126;

/*
* Font Schemes
*/

$heading-font: Verdana, sans-serif;
$heading2-font: "Palatino Linotype", "Book Antiqua", Palatino, serif;
$logo-font: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
$subheading-font: "Trebuchet MS", Helvetica, sans-serif;
$primary-font: Tahoma, Geneva, sans-serif;
