/*
* Partial: site-branding.scss
*/

/*
* Color Schemes
* Old
* $primary: #514766;
* $secondary: #BA6126;. #edc382
*/
$white: #FFFFFF;
$primary: #5F474E;
$secondary: #C75204;
$background: #E4D6DC;
$primaryto: #402460;
$secondaryto: #E4D6DC;

/*
* Font Schemes
*/

$heading-font: 'Lato', sans-serif;
$heading2-font: 'Vidaloka', Palatino, serif;
$logo-font: 'Lato', "Lucida Grande", sans-serif;
$subheading-font: 'Lato', "Trebuchet MS", Helvetica, sans-serif;
$primary-font: 'Open Sans', Geneva, sans-serif;
