/* 
*
* Basic styling for mobile devices
*
*/


/*
* Body
*/


body {
	margin: 0px;
	padding: 0px;
	background-color: $primary;	
	width: 100%;
	min-width: 470px;
	margin-left:auto;
	margin-right:auto;
}

#container {
	background-color: $background;
	border-radius: 8px;
	margin: 20px;
	padding: 10px;
	box-shadow: none;
}

aside {
	padding-top: 25px;
	float: left;
	clear: left;
}


/*
* Header
*/


header {
	padding: 5px;
	padding-top: 0px;
	height: 280px;
	background: url('waves.jpg') no-repeat top center;
	background-size: 100%;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: none;
}

header:before {
	content: '';
	top: 0;
	left: 0;
	width: 90%;
	height: 100%;
	background-image: url('waves.jpg') no-repeat top center;
	opacity: .1;
	border-radius: 10px;
}


#header_bar {
	position: relative;
	height: 100%;
}


#logo {
	position: relative;
	top: .5em;
	right: 0;
	left: auto;
	width: 100%;
	margin: 1em;
	h1 {
		display: inline-block;
		font-family: $logo-font;
		font-size: 2.5em;
		text-transform: uppercase;
		font-weight: 850;
		text-decoration: none;
	}
	a {
		text-decoration: none;
		color: $white;
		text-shadow:
   			-2px -2px 0 $secondary,
   			2px -2px 0 $secondary,
    		-2px 2px 0 $secondary,
   			2px 2px 0 $secondary; 
   		&:hover a {
			opacity: 0.5;
		}
	}

}

#menu {
	position: absolute;
	right: 0;
	top: 10em;
	ul {
		display: inline-block;
	}
	li {
		display: block;
		float: left;
		text-align: center;
	}
	li a {
		display: block;
		padding: 0em 0.3em;
		height: 150px;
		letter-spacing: 0.20em;
		line-height: 150px;
		text-decoration: none;
		font-size: 1.05em;
		font-weight: 650;
		text-transform: uppercase;
		outline: 0;
		color: $primary;
		text-shadow:
   			-1px -1px 0 $white,
   			1px -1px 0 $white,
    		-1px 1px 0 $white,
   			1px 1px 0 $white; 
	}
}
	
#menu li:hover a {
	color: $primary;
	text-decoration: underline;
}
	
#menu .current_page_item 
	a {
	text-shadow:
   			-1px -1px 0 $white,
   			1px -1px 0 $white,
    		-1px 1px 0 $white,
   			1px 1px 0 $white; 
	color: $secondary;
	background: none;
	font-size: 1.2em;
	font-weight: 750;
}

/*
* Sections
*/

section {
	overflow: hidden;

	.content {
		width: 100%;
		float: left;
		position: relative;
		padding: 10px;
	}

}


/*
/* Sidebar  
*/

aside {
	ppadding-top: 25px;
	float: left;
	clear: left;
	width: 100%;
	overflow: hidden;
}


.concert-box {
	div {
		margin: 1em;
		width: 80%;
	}
}
