/* 
*
* Basic styling for mobile devices
*
*/


/*
* Body
*/


body {
	margin: 0px;
	padding: 0px;
	background-color: $primary;	
	width: 100%;
	min-width: 320px;
	margin-left:auto;
	margin-right:auto;
	-webkit-text-size-adjust: 100%;
}

#container {
	background-color: $background;
	border-radius: 8px;
	margin: 10px;
	padding: 5px;
}

aside {
	padding-top: 25px;
	float: left;
	clear: left;
}


/*
* Header
*/


header {
	padding: 3px;
	padding-top: 0px;
	height: 196px;
	background: url('waves.jpg') no-repeat top center;
	background-size: 100%;
	overflow: hidden;
	border-radius: 10px;
	margin: 10px;
}

header:before {
	content: '';
	top: 0;
	left: 0;
	width: 90%;
	height: 100%;
	background-image: url('waves.jpg') no-repeat top center;
	opacity: .1;
	border-radius: 10px;
}


#header_bar {
	position: relative;
	height: 100%;
}


#logo {
	position: relative;
	top: .5em;
	right: 0;
	left: auto;
	width: 100%;
	margin: 1em;
	h1 {
		display: inline-block;
		font-family: $logo-font;
		font-size: 2.1em;
		text-transform: uppercase;
		font-weight: 850;
		text-decoration: none;
	}
	a {
		text-decoration: none;
		color: $white;
		text-shadow:
   			-2px -2px 0 $secondary,
   			2px -2px 0 $secondary,
    		-2px 2px 0 $secondary,
   			2px 2px 0 $secondary; 
   		&:hover a {
			opacity: 0.5;
		}
	}

}

#menu {
	position: absolute;
	right: 0;
	top: 6em;
	ul {
	}
	li {
		float: left;
		text-align: center;
		position:relative;
	}
	li a {
		padding: 0em 0.25em;
		letter-spacing: 0.1em;
		text-decoration: none;
		font-size: 1.2em;
		font-weight: 500;
		text-transform: uppercase;
		outline: 0;
		color: $primary;
		line-height: none;
		text-decoration: none;
		text-shadow:
   			-1px -1px 0 $white,
   			1px -1px 0 $white,
    		-1px 1px 0 $white,
   			1px 1px 0 $white; 
	}
}
	
#menu li:hover a {
	color: $primary;
	text-decoration: underline;
}
	
#menu .current_page_item 
	a {
	text-shadow:
   			-1px -1px 0 $white,
   			1px -1px 0 $white,
    		-1px 1px 0 $white,
   			1px 1px 0 $white; 
	color: $secondary;
	background: none;
	font-size: 1.25em;
	font-weight: 750;
	background: none;
}


#menu .current_page_item a {
	background: none;
}

/*
* Sections
*/

section {
	overflow: hidden;

	.content {
		width: 100%;
		float: left;
		position: relative;
		padding: 10px;
	}

}


/*
/* Sidebar  
*/

aside {
	ppadding-top: 25px;
	float: left;
	clear: left;
	width: 100%;
	overflow: hidden;
}


.concert-box {
	div {
		margin: .6em;
		width: 80%;
	}
}

p {
	padding: .3em;
	font-family: $primary-font;
	font-size: 1.1em;
	line-height: 140%;
	text-indent: none;
}

.text {
	text-indent: none;
}

section {
	overflow: hidden;

	.content {
		width: 90%;
		float: left;
		position: relative;
		padding: 3px;
	}

}

.list {
	margin: .2em;
	padding: .2em;
	h2 {
		font-size: 1.7em
	}
	h3 {
		font-size: 1.5em;
	}
	h4 {
		font-size: 1.4em;
	}
	h5 {
		font-size: 1.3em;
	}
}

.s_img {
	max-width: 75%;
	max-height: 280px;
	min-width: 150px;
	float: none;
	margin: 15px;
}

#thumbnail {
	max-width: 55%;
	max-height: 180px;
	min-width: 0;
	float: none;
	margin: .4em;
}

h1 {
	font-size: 1.8em
}
h2 {
	font-size: 1.6em
}
h3 {
	font-size: 1.5em;
}
h4 {
	font-size: 1.4em;
}
h5 {
	font-size: 1.3em;
}
