/* layout.css
*
* Basic styling for the static pages
*
*/

@import "site-branding";



/*
* Overall
*/

html {
	height: 100%;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	padding-top: 5px;
	color: $secondary;
	font-family: $heading-font;
	font-size: 3em;
	a {
		color: $secondary;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
			color: $primary;
		}
	}
}

h4, h5, h6 {	
	margin: 0px;
	padding: 0px;
	color: $primary;
	font-family: $subheading-font;
	font-size: 1.6em;
	a {
		color: $primary;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}

h1 {
	font-weight: 800;
	font-stretch: expanded;
	letter-spacing:2px;
	text-align:center;
	margin: 5px;
	text-decoration: none;
}

h2 {
	font-weight: 620;
	text-size: 2.6em;
}

h3 {
	font-weight: 440;
	text-size: 2.1em;
}

h4 {
	font-weight: 330;
}

h5 {
	font-size: 1.3em;
	font-weight: 240;
}

h6 {
	font-size: 1.1em;
	margin-bottom: 2px;
}

p, ol, ul, a {
	margin:.2em 0 .2em 0;
	padding: 0px;
	font-family: $primary-font;
}

ol, ul {
	list-style-type: none;
}

a:hover {
	color: $secondary;
	text-decoration: none;
}

p {
	padding: 1.1em;
	font-family: $primary-font;
	font-size: 1.1em;
	line-height: 160%;
}

.text {
	text-indent: 2em;
}

.text:first-letter { 
	font-size:220%;
	color: $secondary;
	margin: 1px;
}

strong {
}


/*
* Body
*/

body {
	margin: 0px;
	padding: 0px;
	background-color: $primary;	
	max-width:1100px;
	margin-left:auto;
	margin-right:auto;
}

#container {
	background-color: $background;
	border-radius: 8px;
	margin: 20px;
	padding: 10px;
}


/*
* Header
*/


header {
	margin: 20px;
	margin-top: 10px;
	padding: 5px;
	padding-top: 0px;
	height: 450px;
	background: url('waves-L.jpg') no-repeat top center;
	background-size: 100%;
	overflow: hidden;
	border-radius: 10px;
}

header:before {
	content: '';
	top: 0;
	left: 0;
	width: 90%;
	height: 100%;
	background-image: url('waves-L.jpg') no-repeat top center;
	opacity: .1;
	border-radius: 10px;
}


#header_bar {
	position: relative;
	height: 150px;
}


#logo {
	position: absolute;
	top: 3em;
	left: 0;
	width: 100%;
	margin: 1em;
	h1 {
		display: inline-block;
		font-family: $logo-font;
		font-size: 2.5em;
		text-transform: uppercase;
		font-weight: 850;
		text-decoration: none;
	}
	a {
		text-decoration: none;
		color: $white;
		text-shadow:
   			-2px -2px 0 $secondary,
   			2px -2px 0 $secondary,
    		-2px 2px 0 $secondary,
   			2px 2px 0 $secondary; 
   		&:hover a {
			opacity: 0.5;
		}
	}

}

#menu {
	position: absolute;
	right: 0;
	top: -5px;
	ul {
		display: inline-block;
	}
	li {
		display: block;
		float: left;
		text-align: center;
	}
	li a {
		display: block;
		padding: 0em 1.1em;
		height: 150px;
		letter-spacing: 0.20em;
		line-height: 150px;
		text-decoration: none;
		font-size: 0.90em;
		font-weight: 600;
		text-transform: uppercase;
		outline: 0;
		color: $white;
	}
}
	
#menu li:hover a {
	color: $primary;
	text-decoration: underline;
}
	
#menu .current_page_item a {
	background: rgba(0,0,0,0.1);
	color: $white;
}



/*
* Sections
*/

section {
	overflow: hidden;

	.content {
		width: 70%;
		float: left;
		position: relative;
		padding: 10px;
	}

}

/*
/* Sidebar  
*/

aside {
	padding-top: 25px;
	float: right;
	width: 25%;
	overflow: hidden;
	h4, h5 {

	}
}

.sidebar-list {
	padding: 1em;
	margin-bottom: 0.6em;
	line-height: 130%;
	font-size: 1.15em;
	li a {
		text-decoration: underline;
		color: $primary;
	}
	li a:hover {
		text-decoration: none;
		color: $secondary;
	}
}

.signup-box {
	padding: 0px;
	margin: 0px;
}

#mc_embed_signup{
	clear:left;
}

/*
/* Footer
 */

 footer {
 	padding: 0.7em 0em;
	h1 {
		letter-spacing: 0.20em;
		text-align: center;
		text-transform: uppercase;
		font-size: 0.80em;
		color: $secondary;
		line-height: 350%;
		font-weight: 200;
		a {
			color: $secondary;
			font-size: 1.5em;
			font-weight: 260;
			text-decoration: underline;
		}
		a:hover {
			color: $white;
			text-decoration: none;
		}
 	}
 }
 
 /*
/* Button
 */

 .button {
	display: inline-block;
	margin-top: 2em;
	margin-bottom: 2em;
	padding: 1em 3em;
	background-color: $secondary;
	border-radius: 10px;
	-moz-transition: opacity 0.25s ease-in-out;
	-webkit-transition: opacity 0.25s ease-in-out;
	-o-transition: opacity 0.25s ease-in-out;
	-ms-transition: opacity 0.25s ease-in-out;
	transition: opacity 0.25s ease-in-out;
	letter-spacing: 0.20em;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 0.90em;
	color: $white;
}

#ticket-button {
	width: 70%;
	display: block;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	padding: 0.5em 1em;
	border-radius: 7px;
	font-weight: 500;
	background-color: #C0C0C0;
	color: black;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	text-decoration: underline;
	&:hover {
		text-decoration: none;
	}
}

#artist-button  {
	width: 30%;
	display: block;
	padding-top: 2px;
	margin-top: 1em;
	margin-bottom: 1em;
	padding: 0.5em 1em;
	border-radius: 7px;
	font-weight: 500;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	&:hover {
		color: $primary;
	}
}

.button:hover {
	color: $primary;
	text-decoration: none;
}

.button:active {
}

 /*
/* Image
 */


img {
	margin: 15px;
	max-width: 93%;
	max-height: 500px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	border: 2px solid $secondary;
	box-shadow: 3px 3px 3px $primary;
}

 img.resize{
    width: 70%;
    height: auto;
}

.s_img {
	max-width: 35%;
	max-height: 280px;
	min-width: 150px;
	float: right;
	margin: 20px;
}

#thumbnail {
	max-width: 22%;
	max-height: 140px;
	min-width: 80px;
	float: left;
	margin: .8em;
}



.title
{
	margin-bottom: 3em;
}


/*
* Special Sections
*/

.list {
	margin: 1em;
	padding: 1em;
	h2 {
		font-size: 2.6em
	}
	h3 {
		font-size: 2.2em;
	}
	h4 {
		font-size: 1.7em;
	}
	h5 {
		font-size: 1.5em;
	}
	article {
		border-top: 2px solid $primary;
	}
	article:nth-child(1) {
		border-top: none;
	}
}

.concert-box {
	align: center;
	margin: 0 auto;
	overflow: hidden;
	text-align: center;
	div {
		opacity: 0.9;
		display: inline-block;
		vertical-align: middle;
		align: center;
		text-align: left;
		border-radius: 8px;
		margin: .4em;
		padding: .5em;
		box-shadow: 3px 3px 5px 2px;
		width: 26%;
		background: $secondary; /* for non-css3 browsers */
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$secondaryto', endColorstr='$secondary'); /* for IE */
		background: -webkit-gradient(linear, left top, left bottom, from($secondaryto), to($secondary)); /* for webkit browsers */
		background: -moz-linear-gradient(top,  $secondaryto,  $secondary); /* for firefox 3.6+ */
		h5, h6 {
			color: black;
		}
		h5 {

			padding-top: 0.1em;
			margin-bottom: 2px;
		}
		h6 {
			padding-bottom: 0.2em;
			font-family: $primary-font;
		}
	}
	div:nth-of-type(odd) {
		background: $primary; /* for non-css3 browsers */
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$primaryto', endColorstr='$primary'); /* for IE */
		background: -webkit-gradient(linear, left top, left bottom, from($primaryto), to($primary)); /* for webkit browsers */
		background: -moz-linear-gradient(top,  $primaryto,  $primary); /* for firefox 3.6+ */
		h5, h6 {
			color: $background;
		}
	}
}

#artist {
	padding-top: 10px;
	padding-bottom: 25px;
	h4, {
		padding-bottom: 5px;
	}
	h5 {
		margin-bottom: 1px;
		padding-top: 3px;
		a:hover {
			color: $secondary;
		}
	}
}

.artist-small {
	padding-top: 10px;
	padding-bottom: 25px;
}


/* 
*
* Basic styling for mobile devices
*
*/

@media screen and (min-width: 640px) and (max-width: 860px) {

@import "medium_screen";

}

@media screen and (max-width: 640px) {


@import "small_screen";


}

/*
* End mobile
*/



