
<div id="portfolio-wrapper">
	<div id="portfolio" class="container">
		<div class="title">
			<h2>Learn More!</h2>
			<span class="byline">A Collection of Musical Waves Resources</span> </div>
		<div id="column1"><p></P></div>
		<div id="column2">
			<p>Baroque music is a style of Western art music composed from approximately 1600 to 1750. This era follows the Renaissance, and was followed in turn by the Classical era</p>
			<a href="http://en.wikipedia.org/wiki/Baroque_music" class="button">Read More</a> </div>
		<div id="column3">
			<p>A harpsichord is a musical instrument played by means of a keyboard. It produces sound by plucking a string when a key is pressed."Harpsichord" designates the whole family of similar plucked keyboard instruments, including the smaller virginals, muselar, and spinet.</p>
			<a href="http://en.wikipedia.org/wiki/Harpsichord" class="button">Read More</a> </div>
		<div id="column4"></div>
	</div>
</div></div>



<div id="copyright" class="container">
	<p>&copy; <%= Time.now.year %> Musical Waves | Photo by Tom Linford </P>
</div>