<% if page == "Artists" %>
	<section>
		<h4>Artists</h4>
		<ol class="sidebar-list">
			<% artist_name_sort(Artist.all).each do |artist| %>
				<li><%= link_to artist.name, a_show_path(:name => artist.name) %></li>
			<% end %>
		</ol>
	</section>

<% elsif page == "Concerts" %>
	<section>
		<h4>Concerts</h4>
		<ol class="sidebar-list">
			<% program_sort(future_programs(Program.all)).each do |program| %>
				<li><%= link_to program.title, p_show_path(:title => program.title) %></li>
			<% end %>
		</ol>
	</section>
<% elsif next_program != nil %>
	<section>
		<h5>Next Performance</h5>
		<ol class="sidebar-list">
			<li><%= link_to next_program.title, p_show_path(:title => next_program.title) %></li>
			<li><%= next_program.date_of_first_performance.strftime ("%b %d, %Y") %></li>

		</ol>
	</section>
<% else %>
<% end %>

<p></p>

<section >
	<h5>Questions?</h5>
	<ul class="sidebar-list"><li>Feel free to email us at ilanabardavid at gmail.com<ul><li>
</section>

<section class="signup-box">
	<h5>Sign Up for the Musical Waves E-Mail List!</h5>


	<!-- Signup Form -->
<link href="http://cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
<div id="mc_embed_signup">
	<form action="http://herokuapp.us7.list-manage2.com/subscribe/post?u=3484f4ecdb03c17723ecec26d&amp;id=a409943dbb" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	
		<div class="mc-field-group">
			<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
		</label>
			<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
		</div>
		<div class="mc-field-group">
			<label for="mce-FNAME">First Name </label>
			<input type="text" value="" name="FNAME" class="" id="mce-FNAME">
		</div>
		<div class="mc-field-group">
			<label for="mce-LNAME">Last Name </label>
			<input type="text" value="" name="LNAME" class="" id="mce-LNAME">
		</div>

		<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>

		<div id="mce-responses" class="clear">
			<div class="response" id="mce-error-response" style="display:none"></div>
			<div class="response" id="mce-success-response" style="display:none"></div>
		</div>	
		
		<div class="clear">
			<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
		</div>

	</form>
</div>



</section>
